.body4{
	background:url("../img/background-KL.jpg")top left / 100% 100%;
	background-attachment:fixed;
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu, .menu ul {
  padding:0;
  margin:0;
  list-style: none;
  text-align: center;
}

.menu li {
  display:inline-block;
  vertical-align: top;
  position: relative;
  background-color: #E52646;
}
.menu li li {
  display:inherit;
}
.menu a {
  display:block;
  padding:5px 50px;
  text-decoration: none;
  color:#fff;
  font-family:arial;
}
.menu ul li a {
  padding:5px 8px;
}
.menu ul {
  position: absolute;
  z-index: 1000;
  min-width:100%;
  white-space: nowrap;
  text-align: left;
}
.menu ul ul {
  left:100%;
  top:0;
  overflow: hidden;
  max-width: 0;
  min-width: 0;
  transition: 0.3s all;
}
.menu ul li:hover ul {
  max-width: 30em;
}
.menu ul li {
  max-height:0;
  overflow: hidden;
  transition:all 0.8s;
}
.menu li:hover li {
  max-height: 15em;
  overflow: visible;
}
.header4{
	background: url("../img/back6.jpg")top left / 100% 100%;
	width: 100%;
	height: 550px;
	font-family: 'Verdana';
	color: white;
	text-align: center;
	padding-top: 40px;
	animation:animback 14s infinite;

}

@keyframes animback {
    33.33% {background:url("../img/back7.jpg")top left / 100% 100%;}
    66.66% {background:url("../img/back8.jpg")top left / 100% 100%;}
    99.99% {background:url("../img/back9.jpg")top left / 100% 100%;}
}
.header4 h1{
	background-color: black;
	font-size: 50px;
	margin-left: 500px;
	margin-right: 500px;
	opacity: 0.6;
	padding: 30px;

}
.header4 h4{
	background-color: black;
	font-size: 24px;
	margin-left: 400px;
	margin-right: 400px;
	opacity: 0.6;
	padding: 20px;

}

.nav4{
	display: flex;
	flex-direction: row;
	background-color: #E9EBEE;
	width: 100%;
	height: 500px;
	margin-bottom: 100px;
}
.intro{
	font-family: 'Helvetica';
	font-size: 20px;
	width: 50%;
	padding: 26px;
}
.tab {
	width: 50%;
}
table {
  height: 40%;
  left: 10%;
  margin: 25px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
  box-shadow: 10px 5px 5px gray;
}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: 'Optima', sans-serif;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 3px;
  text-align: center;
  
}
tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;

}

th, td {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 400;
  padding: 12px;
  text-align: center;
  width: 33.3333%;
}

.section4{
	display: flex;
	flex-direction: row;

	width: 90%;
	height: 600px;
	margin-bottom: 100px;
	margin-left: 80px;
}
.panoram1, .panoram4{
	display: flex;
	flex-direction: column;	
	width: 66.6%;
	height: 600px;

}
.panoram1{
	margin-right: 15px;
}
.panoram4{
	margin-left: 15px;
}
#pano1{
	background:url("../img/kuala1.jpg")top left / 100% 100%;
	height: 400px;
	margin-bottom: 15px;

}
#mipan1{
	background:url("../img/kuala2.jpg")top left / 100% 100%;
	margin-right: 15px;
}
#mipan2{
	background:url("../img/kuala3.jpg")top left / 100% 100%;
}
#pano2, #pano4{
	display: flex;
	flex-direction: row;
	height: 200px;
	width: 100%;
}
.panoram2, .panoram3{
	display: flex;
	flex-direction: column;
	width: 33.33%;
}
#mipan3{
	background:url("../img/kuala4.jpg")top left / 100% 100%;
	margin-bottom: 15px;
}
#mipan4{
	background:url("../img/kuala5.jpg")top left / 100% 100%;
	margin-bottom: 15px;
}
#mipan5{
	background:url("../img/kuala6.jpg")top left / 100% 100%;
}
#mipan1, #mipan2, #mipan9, #mipan10{
	width: 50%;
}

#mipan1, #mipan2, #mipan3, #mipan4, #mipan5{

	height: 200px;	
}

.article4{
	display: flex;
	flex-direction: row;

	width: 90%;
	height: 600px;
	margin-bottom: 100px;
	margin-left: 80px;
}
#pano3{
	background:url("../img/hotel4.jpg")top left / 100% 100%;
	height: 400px;
	margin-bottom: 15px;
	
}
#mipan6{
	background:url("../img/hotel1.jpg")top left / 100% 100%;
	margin-bottom: 15px;
}
#mipan7{
	background:url("../img/hotel2.jpg")top left / 100% 100%;
	margin-bottom: 15px;
}
#mipan8{
	background:url("../img/hotel3.jpg")top left / 100% 100%;
}
#mipan9{
	background:url("../img/hotel5.webp")top left / 100% 100%;
	margin-right: 15px;
}
#mipan10{
	background:url("../img/hotel6.jpg")top left / 100% 100%;
}
#mipan6, #mipan7, #mipan8, #mipan9, #mipan10{
	height: 200px;	
}
h2{
	background-color: black;
	font-family: 'Verdana';
	font-size: 19px;
	text-align: center;
	color: white;
	padding: 20px;
	margin-top: 0px;
	opacity: 0.7;
}
a{
	text-decoration:none;
}

#contact {
    background-color: black;
    height: 150px;
    padding: 10px;
    padding-bottom: 27px;

}

#contact p {
   
    font-family: 'Impact';
    font-size: 25px;
    color: red;
    
}

ul.social {
    list-style: none;
    display: block;
    padding: 7px;

}
ul.social li {
    display: inline-block;
    margin: 20px;
    width: 32px;
    height: 32px;
}

ul.social li a {
    display: block;
    border-radius: 3px;
    color: white !important;
    padding: 4px;
    height: 100%;
}

ul.social li.facebook a {
    background-image: url("../img/facebook-logo.jpg");
    background-size: 50px;
    background-position: center;
}
ul.social li.linkedin a {
    background-image: url("../img/LinkedIn-Logo.jpg");
    background-size: 50px;
    background-position: center;
}
ul.social li.twitter a {
    background-image: url("../img/twitter-logo.jpg");
    background-size: 38px;
    background-position: center;
}
ul.social li.instagram a {
    background-image: url("../img/instagram-logo.jfif");
    background-size: 45px;
    background-position: center;
}



