body{ 
	background-color: red;
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
	
}
header{
	color:black;
	font-family: georgia, serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-image: url(../headermartinique.jpg);
	width: 100%;
	height: 400px;

}
#logom{
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
h1{
	text-align: center;
	font-family: verdana,serif;
	font-size: 50px;
}
h2{
	text-align: center;
}
p{
	font-family: georgia,serif;
	text-align: center;

}

#martinique{
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	width: 100%;
	height: 1300px;
	background-image: url(../fondmartinique.jpg);
	background-size: cover;

}
#corp1{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
}
#presentationmartinique{
	margin-top: 80px;
	margin-right: 20px;
	margin-left: 20px;
	width: 400px;
	height: 400px;

}
#cadre{
	margin-right: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 900px;
	height: 400px;
}
#fotomartinique{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	flex-wrap:nowrap;
	background-color:green;
	width: 200px;
  	height: auto; 
  	transition: .3s ease-in-out; 
}
#fotomartinique img:hover {
  	width: 200px; 
  	height: 200px;
  	border-radius: 50%; 
}
#culturemartinique{
	background-color: yellow;
	display: flex;
	flex-direction: row;
	height: 600px;

}

#tableau{
	border-radius: 10px;
	height:200px;
	width: 400px;
	

}

table, td ,th{
	margin-left: 20px;
	border:solid;
	border-collapse:collapse;
}

img{
	width: 200px;
	height: 200px;
}

td {
	width: 404px;
}

footer{
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: purple;
	height: 100px;
}