body{ 
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
	background-color:#F7230C;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

header{
	background-image: url("../img/headertunis.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 200px;
	width:100%;

}
#entree{
	text-align: center;
	animation: gliss 20s infinite;
}
@keyframes gliss{
	0% {transform: translateX(-500px);}
	50%{transform: translateX(500px);}
	100%{transform: translateX(-500px);}
}

#logo{
	border-radius: 50%;
	height: 40px;
	width: 40px;
}
h1{
	color:white;
	font-family:cursive;
}
h2{
	color:white;
}
p{
	color:white;
}
u{
	color: white;
}

main{
	display: flex;
	flex-direction:column;
	background-color:#F7230C;
	width:100%;

}
#presentationtunis{
	display: flex;
	height: 760px;
	width: 100%;

}
#presenttexte{
	text-align: center;
	font-family:cursive;
	color:black; 
	padding-right: 20px;
	padding-top: 20px;
	padding-left:20px;
	margin-top: 40px;
	margin-left: 20px;
	height: 690px;
	width: 750px;
	border:solid white 2px;
	border-radius: 20px;


}
#imagepresent{
	margin-top: 40px;
	margin-right: 20px;
	margin-left: 20px;
	height: 490px;
	width: 500px;
	border:solid white 2px;
}

#carte{
	display: block;
	transition: width 2s, height 2s, background-color 2s, transform 2s;
	height: 490px;
	width: 500px;
}
#carte:hover {
  background-color:green;
  width: 500px;
  height: 490px;
  transform: rotate(360deg);

}

#containercarte{
	display: flex;
	flex-direction: column;

}

#identitetunis{
	text-align : center;
	color: white;
	border:solid white 2px;
	padding-bottom :20px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 20px;
	height: 175px;
	width: 500px;

}
#titre{
	font-family: cursive;
	color:white;
}
h3{
	color: white;
	text-align: center;
	font-family: georgia,serif;
	font-size:80px;

}
.culture{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	background-color:#F7230C;
	height: 450px;


}
.descriptionculture{
	margin-top: 20px;
	text-align: center;
	color: white;
	border: solid;
	border-radius: 20px;
	font-family: georgia ,serif;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 40px;
	background-color:#F7230C;
	height: 400px;
	width: 500px;

}
.plat{
	border: solid 3px;
	border-radius: 20px;
	margin-top: 80px;
	margin-right: 60px;
	overflow: hidden;
	height: 300px;
	width: 500px;

}

.video{
	border-radius: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.slider{
	width:500px;
	height:300px;
	margin:30px;
}

.slides{
	width: calc(500px * 5);
	animation: glisse 30s infinite;

}

.slide{
	float: left;

}

@keyframes glisse{
	0%{
		transform: translateX(0);
	}
	10%{
		transform: translateX(0);
	}
	33%{
		transform: translateX(-500px);
	}
	43%{
		transform: translateX(-1000px);
	}
	66%{
		transform: translateX(-1500px);
	}
	76%{
		transform: translateX(-2000px);
	}
	100%{
		transform: translateX(0);
	}

}
.defilé{
	margin-bottom:60px;
	width:500px;
	height:300px;

}
table, td, tr{
	border:solid;
	border-collapse: collapse;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
td{
	color: white;
	text-align: center;
	font-family:"Georgia", serif;
}


.tourisme{
	display: flex;
	flex-direction: column;
	border-radius: 20px;


}

.foto{
	border-color:#F7230C;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 300px;
	height: 300px;

}
.image{
	border-radius:50px;
	padding: 20px;
	width: 300px;
	height: 200px;

}

.image {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.image:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#contact {
    background-color: black;
    height: 150px;
    padding: 10px;
    padding-bottom: 27px;

}

#contact p {
   
    font-family: 'Impact';
    font-size: 22px;
    color: purple;
    
}

ul.social {
    list-style: none;
    display: block;
    padding: 7px;

}
ul.social li {
    display: inline-block;
    margin: 20px;
    width: 32px;
    height: 32px;
}

ul.social li a {
    display: block;
    border-radius: 3px;
    color: red;
    padding: 4px;
    height: 100%;
}

ul.social li.facebook a {
    background-image: url("../logofacebook.png");
    background-size:50px;
    background-position: center;
}
ul.social li.linkedin a {
    background-image: url("../lindlekin.png");
    background-size: 50px;
    background-position: center;
}
ul.social li.twitter a {
    background-image: url("../logotwitter.png");
    background-size: 38px;
    background-position: center;
}
ul.social li.instagram a {
    background-image: url("../logoinsta.jpg");
    background-size: 45px;
    background-position: center;
}
